.info-joueur > img { padding-right: 10px }
.joueurCourant > .joueur-name {
    padding-left: 35px;
    background-image: url("../img/dice.png");
    background-repeat: no-repeat;
    background-size:25px;
    background-position:5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-weight: bold;
}
.joueur-bloc{
            height:22px;            
}
.joueurCourant > div { padding-left: 0px }
.defaite { background-color: grey;padding-left:10px;color:lightgrey }
.nbMaisons {
    text-decoration: underline;
    background-color: salmon;
}
.jail {
    background-image: url("../img/jail.jpg");
    background-repeat: no-repeat;
    background-size: 25px 25px;
    padding-left: 25px;
}
#informations > div {
    font-size: 14px;
    width: 280px;
}
span.info-label {
    display: inline-block;
    width: 55px;
    text-align: right;
}
body { margin: 0 }
.title-dialog {
    font-weight: bold;
    text-align: center;
    width: 100%;
    border-bottom: solid 1px black;
}
.constructions select { width: 65px }
.constructions select>option,
.constructions select.hotel,
.constructions select.maison {
    background-repeat: no-repeat;
    background-position: 2px;
    background-size: 13px 13px;
    padding-left: 15px;
}
.constructions select>option.maison,
.constructions select>option.hotel { padding-left: 20px }
.constructions select>option.maison,
.constructions select.maison { background-image: url(../img/maison.png) }
.constructions select>option.hotel,
.constructions select.hotel { background-image: url(../img/hotel.png) }
.constructions div.propriete { padding-left: 20px }
.constructions div.propriete>span.title-propriete {
    display: inline-block;
    width: 200px;
    font-weight: bold;
}
.ui-widget { font-size: 0.9em }

.info_box {
    border:solid grey 2px;
    background-color:#FFFFFF;
    position:absolute;
    top:350px;
    left:130px;
    width:540px;
    height:330px;
    overflow:auto;
    font-size: 12px;
    font-family: Helvetica;
    padding-left:3px;
    border-radius: 10px;
    border:3px inset #A09A9A;
}

.list_encherisseurs > p {
	margin-top:0px;
	margin-bottom:0px;
}

div.ui-tooltip {
    min-width: 180px;
}

.title h1 {
    background-color:red;
    color:white;
    padding-left:10px;
    font-size:40px;
    padding-right:10px;
    font-weight:bold;
    text-shadow:-2px 2px #424242;
	margin:0px;
}

.title h2 {
    font-size:25px;
    float:right;
	margin:0px;
	margin-top:10px;
}