.joueurCourant{
		  background-color:lightslategray;
		  padding-left:15px;
		  padding-top:3px;
		  padding-bottom:3px;
		  padding-right:15px;
		  color:white;
		  font-weight:bold;
		}
		
		.joueurCourant > div{
		  padding-left:0px;
		}
		
		.nbMaisons{
		  text-decoration:underline;
		  background-color:salmon;
		}
  
	.jail {
		background-image: url("jail.jpg");
		background-repeat: no-repeat;
		background-size: contain;
		padding-left: 30px;
	}
  
		  
  
  body{margin:0}
  
  .title-dialog {
	font-weight:bold;
	text-align: center;
	width:100%;
	border-bottom: solid 1px black;
  }
  
  .constructions select>option, .constructions select.hotel, .constructions select.maison{
   	background-repeat:no-repeat;
  	background-position:left;
  	background-size:13px 13px;  
  	padding-left:20px;
  }
  
  .constructions select>option.maison, .constructions select.maison {
  	background-image:url(maison.png);
  }
  
  .constructions select>option.hotel, .constructions select.hotel {
  	background-image:url(hotel.png);
  }  
